
  <section>
   <div class="hero-img image-fader">
      {{!-- <img src="" class="image1" alt=""> --}}
      <img src="images/image(1).png" class="image2" alt="">
      {{!-- <img src="images/services-image (1).png" class="image2" alt="">
      <img src="images/services-image (1).png" class="image2" alt=""> --}}
    </div>
      </div>
  </section>
  <section class="main-content">
   <h1>Special Offers</h1>
  </section>


  {{!-- <script>
    const image = document.querySelector(".image");
    const images = ['images/image(1).png','images/image(2).png'];
    setInterval(()=>{
     const rendom = Math.floor(Math.random() * 2);
     image.src = images[random]
    },800)
  </script> --}}


