<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
   <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <div class="top-header">
        <p class="vertical-text">THE</p>
      <h1 class="logo">Edex Store</h1>
      </div> 
        <div class="botom-header">
      <p>The best supermarket</p> 
      </div>
      <div class="social">
        <ul class="mild Social-Media-Icon">
          <li><a href="#" class="icon facebook">
              <ion-icon name="logo-facebook"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon twitter">
              <ion-icon name="logo-twitter"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon pinterest">
              <ion-icon name="logo-pinterest"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon dribbble">
              <ion-icon name="logo-dribbble"></ion-icon><span></span>
            </a></li>
        </ul>
      </div> 
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Kitchen</a></li>
          <li><a href="">Personal Care</a></li>
          <li><a href="">Household</a></li>
          <li><a href="">Contact US</a></li>
        </ul>
      </nav>
    </header>
    
  </div>
  <section>
   <div class="hero-img">
        {{!-- <img src="images/Main-banner-1-1903x852.jpg" alt=""> --}}
         {{!-- <img src="images/video.gif" class="image" alt=""> --}}
      <div class="color">
      <img src="images/video.gif" class="image" alt="">
      <!-- <img src="Main-banner-2-1903x852.jpg" class="image" alt=""> -->
    </div>
      </div>
  </section>
</body>
</html>