<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="../public/stylesheets/style.css" rel="stylesheet" />
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  
  <div class="header-container">
    <div class="header">
      <div class="top-head">
        <span><b>T<br />H<br />E</b></span>
        <h1 class="logo">Big Store</h1>
      </div>
      <p>THE BEST SUPERMARKET</p>
      <div class="head-t">
        <ul class="nav-bar mild">
          <li><a href="" class="mild-nav-link">Wishlist</a></li>
          <li><a href="" class="mild-nav-link">Login</a></li>
          <li><a href="" class="mild-nav-link">Register</a></li>
          <li><a href="" class="mild-nav-link">Order History</a></li>
          <li><a href="" class="mild-nav-link">Shipping</a></li>
        </ul>
        <ul class="mild Social-Media-Icon">
          <li><a href="#" class="icon facebook">
              <ion-icon name="logo-facebook"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon twitter">
              <ion-icon name="logo-twitter"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon pinterest">
              <ion-icon name="logo-pinterest"></ion-icon><span></span>
            </a></li>
          <li><a href="#" class="icon dribbble">
              <ion-icon name="logo-dribbble"></ion-icon><span></span>
            </a></li>
        </ul>
    </div>
  <div class="main-navbar">
      <ul class="main-nav">
        <li><a href="" class="main-nav-link">Home</a></li>
        <li><a href="" class="main-nav-link">Kitchen</a></li>
        <li><a href="" class="main-nav-link">Personal Care</a></li>
        <li><a href="" class="main-nav-link">Household</a></li>
        <li><a href="" class="main-nav-link">Codes</a></li>
        <li><a href="" class="main-nav-link">Contact Us</a></li>
        <li><span class="cart"><ion-icon name="cart-outline"></ion-icon></span></li>

      </ul>
  </div>


  </div>
</body>

</html>