<section class="hero-sect">
  <div class="hero-img image-fader">
    {{!-- <img src="" class="image1" alt=""> --}}
    <img src="images/image(1).png" class="image2" alt="">
    {{!-- <img src="images/image(2).png" class="image2" alt=""> --}}
    {{!-- <img src="images/services-image (1).png" class="image2" alt=""> --}}
    {{!-- <img src="images/services-image (1).png" class="image2" alt=""> --}}
  </div>
  </div>
</section>
<section class="main-content">
  <div class="block-el">
    <div class="blockie1">
      <img src="https://cdn.shopify.com/s/files/1/0108/7370/0415/files/img-1_770x.jpg?v=1580208074" class="block1"
        alt="">
      <div class="tag1 tag">
        <h3>Veggies</h3>
        <p>
          <strong>100%</strong>
          Organic Products
        </p>
        <div class="buy">
          <a href="" class="buy-now-link">Buy Now</a>
        </div>
      </div>
    </div>
    <div class="blockie2">
      <img src="https://cdn.shopify.com/s/files/1/0108/7370/0415/files/img-2_770x.jpg?v=1580208099" class="block2"
        alt="">
      <div class="tag2 tag">
        <h3>Fruits</h3>
        <p>
          <strong>100%</strong>
          Fresh Products
        </p>
        <div class="buy">
          <a href="" class="buy-now-link">Buy Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cards-show">

{{!-- <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> --}}
<h2>Best Sellers</h2>
<div class="container-card">
   <div class="outer">
     <div class="img-box">
      <div class="card-img">
        <img src="images/01-02-287x373.jpg" class="card-imgs" alt="">
      </div>
     </div>
     <div class="data">
        <div class="icons">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="desc">
        <p>Capsicum</p>
        <p>12.0</p>
      </div>
       </div>
   </div>

   <div class="outer">
     <div class="img-box">
      <div class="card-img">
        <img src="images/12-02-287x373.jpg" class="card-imgs" alt="">
      </div>
     </div>
     <div class="data">
        <div class="icons">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="desc">
        <p>Capsicum</p>
        <p>12.0</p>
      </div>
       </div>
   </div>
 
    <div class="outer">
     <div class="img-box">
      <div class="card-img">
        <img src="images/05-02-287x373.jpg" class="card-imgs" alt="">
      </div>
     </div>
     <div class="data">
        <div class="icons">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="desc">
        <p>Capsicum</p>
        <p>12.0</p>
      </div>
       </div>
   </div>
 
</div>



{{!-- Categories --}}
  <h2>Top Categories</h2>
<div class="card-container">
<div class="card" style="width: 16rem;">
    <p class="card-text">Groceries</p>
  <img class="card-img-top" src="images/Grocery.jpg" alt="Card image cap">
  <div class="card-body">
     <p class="card-text">sale off</p>
  </div>
</div>
<div class="card" style="width: 16rem;">
    <p class="card-text">Groceries</p>
  <img class="card-img-top" src="images/Nutrition.jpg" alt="Card image cap">
  <div class="card-body">
     <p class="card-text">sale off</p>
  </div>
</div>
<div class="card" style="width: 16rem;">
    <p class="card-text">Groceries</p>
  <img class="card-img-top" src="images/Drinks.jpg" alt="Card image cap">
  <div class="card-body">
     <p class="card-text">sale off</p>
  </div>
</div>
<div class="card" style="width: 16rem;">
    <p class="card-text">Groceries</p>
  <img class="card-img-top" src="images/Fruits.jpg" alt="Card image cap">
  <div class="card-body">
     <p class="card-text">sale off</p>
  </div>
</div>
</div>
</section>

<section>
  <div class="banner">
    <img src="images/banner.png" class="banner-1_img" alt="">
  </div>
</section>