
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: sans-serif;
    height: auto;
  }
  .wrapper{
    display: grid;
    grid-template-columns: 60% 55%;
    gap: 50px;
    padding: 50px 0 0 50px;
  }
  .product-name{
    font-size: 32px;
  }
  .product-details{
    margin-top: 50px;
  }
  .apple-pro{
    height: 650px;
    width: 600px;
  }
  .line{
    margin-top: 20px;
    height:2px;
    border-width:0;
    color:#d3d1d1;
    background-color:#d3d1d1;
  }
  .checked{
    color: #ffa534;
  }
  .star-rating{
    margin: 20px;
    display: flex;
    gap: 20px;
  }
  .rating-tag p{
    font-size: 14px;
    color: #8f8f8f;
  }
  .price-tag{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    padding-top: 10px;
    align-items: center;
  }
  .price-tag .dup-price{
    font-size: 20px;
    text-decoration: line-through;
  }
  .price-tag .real-price{
    font-size: 30px;
  }
  .description{
    margin: 15px;
  }
  .description p{
    color: #8f8f8f;
    line-height: 30px;
    padding: 10px;
  }
  .listing-description{
    margin: 15px 0px 15px 40px;
  }
  .listing-description p{
    color: #8f8f8f;
    line-height: 30px;
    padding-left: 10px;
  }
  
  .counter-btn{
    background-color: #fff;
    color: black;
    width: 32px;
    height: 44px;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  .counter-btn:hover,
  .counter-btn:active{
    border: none;
    outline: none;
  }
  .addto-cart{
    display: flex;
    gap: 10px;
    margin: 50px 0px 50px 150px;
    align-items: center;
  }
  .counter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    width: 150px;
    align-content: center;
    border: 1px solid #8f8f8f;
  }
  .counter span{
    font-size: 25px;
  }
  .add-btn{
    width: 321px;
    height: 47px;
    font-size: 22px;
    color: #474646;
    background-color: rgb(204, 201, 201);
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  .add-btn:hover,
  .add-btn:active{
    background-color: #ffa534;
    color: #fff;
    border: none;
    outline: none;
  }
  .pro-end{
    display: flex;
    gap: 10px;
    padding-top: 10px;
  }
  .ctg{
    text-transform: uppercase;
  }
  .ctg-name{
    color: #8f8f8f;
  }
  .oth-details{
    margin: 30px 0px 0px 50px;
  }
  .fa-brands{
    color: #8f8f8f;
    font-size: 20px;
    padding-left: 5px;
  }
  .fa-brands:hover,
  .ctg-name:hover{
    color: #ffa534;
    cursor: pointer;
  }
  .quantity{
    color: #000;
  }