*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Noto Sans", sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
header{
  margin-top: 20px;
}
.top-header{
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
}
.top-header .vertical-text{
writing-mode: vertical-rl;  
text-orientation: upright;
background-color: rgb(240, 6, 6);
color: #fff;
font-size: 10px;
height: 40px;
padding: 3px;
font-weight: 600;
margin-top: 2px;
/* justify-content: center;
align-items: center; */
}
.top-header .logo{
  align-self: center;
  padding-left: 10px;
  color: #000;
  font-size: 48px;
  font-weight: 100;
}
.botom-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
 letter-spacing: 4px;
 font-size: 12px;
 letter-spacing: 4px;
 padding-top: 10px;
}
.mild{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social li{
  list-style: none;
  font-size: 24px;
}
.social{
  padding-top: 16px;
}
.facebook{
  color: 	#4267B2;
}
.twitter{
  color: 	#1DA1F2;
}
.pinterest{
  color: 	#E60023;
}
.dribbble{
  color: 	#ea4c89;
}


/*
nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
  align-content: center;
  /* justify-content: center; */
/* } */
/* nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
nav{ */
  /* padding-left: 100px;
  padding-top: 60px;
}
nav a:link,
nav a:visited{
  color: #525050;
}

nav a:hover,
nav a:active{
  border-bottom: 2px solid #ea4c89;
} */



nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;

}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(138, 137, 135);
  /* font-weight: 800;   */
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ee8105;
}
/* #ec5e95 */

/* stroke */
nav ul li a
 {
  position: relative;
}
nav ul li a:after
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ee8105;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;


  
}
.hero-img img{
 width: 40%;
 height: 40%;
}

.main-content{
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 60px;
}



/* 
.image-fader img {
  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
} */

/* @keyframes imagefade {
  0% {
    opacity:0;
  }
  17% {
    opacity:0;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

.image-fader img:nth-of-type(1) {
  animation-delay: 6s;
}
.image-fader img:nth-of-type(2) {
  animation-delay: 4s;
}
.image-fader img:nth-of-type(3) {
  animation-delay: 2s;
}
.image-fader img:nth-of-type(4) {
  animation-delay: 0;
} */