*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,body {
  font-family: "Noto Sans", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  
}
header{
  margin-top: 20px;
}
.top-header{
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  
}
.top-header .vertical-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgb(240, 6, 6);
  color: #fff;
  font-size: 10px;
  height: 43px;
  padding: 3px;
  font-weight: 600;
  margin-top: 2px;
/* justify-content: center;
align-items: center; */
}
.top-header .logo{
  align-self: center;
  padding-left: 10px;
  color: #000;
  font-size: 48px;
  font-weight: 100;
}
.botom-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
 letter-spacing: 4px;
 font-size: 12px;
 letter-spacing: 4px;
 padding-top: 10px;
}
.mild{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social li{
  list-style: none;
  font-size: 24px;
}
.social{
  padding-top: 16px;
}
.facebook{
  color: 	#4267B2;
}
.twitter{
  color: 	#1DA1F2;
}
.pinterest{
  color: 	#E60023;
}
.dribbble{
  color: 	#ea4c89;
}


nav {
  width: 100%;
  /* margin: 0 auto; */
  
  /* padding: 50px 0; */
}
nav ul {
  list-style: none;
  text-align: center; 
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;

  text-decoration: none;
  color: rgb(0, 0, 0);
  /* font-weight: 800;   */
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ee8105;
  text-decoration: none;
}
/* #ec5e95 */

/* stroke */
nav ul li a
 {
  position: relative;
}
nav ul li a::after
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ee8105;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
header span{
  display: flex;
  gap: 21px;
  transform: translate(85%, -402%);
}
.hero-sect{
  
}

header span li {
  list-style: none;
}
header span .user-task a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 11px;
}

header span .sign{
  color: #f7f7f7;
  background-color: #104911;
}
header span .login{
  color: #f8f7f6;
  background-color: #F17300;
}
/* .hero-img{
  background: url('../images/Main-banner-1-1903x852.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 70%;
} */
 .hero-img {
  display: flex;
  justify-content: center;
  align-items: center;

}
 .hero-img img{
 width: 40%;
 height: 40%;

} 

.main-content{
  height: auto;
  padding-top: 60px;
}
.block-el{
  justify-content: center;
  display: flex;
  gap: 34px;
}

.blockie1{
  position: relative;
}
.blockie2{
  position: relative;
}
.block1{
  width: 669px;
  height: 250px;
  
}
.block2{
  width: 669px;
  height: 250px;

}
.tag{
  width: 257px;
  height: 248px;
  padding: 46px;
  position: absolute;
  top: 2px;
  right: 1px;
}
.tag1{
  background-color: #FCA19B;
}
.tag2{
  background-color: #FDE64F;
}
.tag h3{
  font-size: 26px;
  font-style: italic;
}
.tag p{
  font-size: 25px;
  padding-top: 10px;
}
.buy-now-link{

}
.tag a {
  background-color: rgb(247, 172, 11);
  color: white;
  padding: 7px 23px;
  text-decoration: none;
  border-radius: 11px;
  font-weight: 500;
}
.buy{
  padding-top: 20px;
}

.tag1 a:link,
.tag1 a:visited {
 background-color: #fe6d30;
}
.tag2 a:link,
.tag2 a:visited {
 background-color: #f4a602;
}
.tag a:hover,
.tag a:active {
 background-color: #89c74a;
 text-decoration: none;
 color: #fff;
}
.products-show{
  height: 100vh;
}


/* Footer */
footer{
  width: 100%;
  height: auto;
  background-color: #353535;
}


footer .container{
  width: 1250px;
  height: auto;
  display: flex;
  padding: 10px;
  padding-top: 50px;
  gap: 110px;
}
footer .container h3{
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
}
footer .footer-about{
  width: 300px;
  /* flex-grow: 1 */
  padding-right: 20px;
}
/* 
footer .footer-menu{
  flex-grow: 1
}

footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
} */
footer .container li{
  list-style: none;

}
footer .container li a{
  text-decoration: none;
  color: #adacac;
}
footer ul{
  padding-top: 20px;
}
footer ul li{
  padding: 10px;
}
.footer-about p{
  padding-top: 20px;
  color: #adacac;
  line-height: 2;
}
.second-container{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 27px;
}
/* .second-container img{
  height: 80px; 
} */
.brand-description{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-description p{
  color: rgb(128, 127, 127);
  padding: 20px;
  text-align: center;
}
.social-icons ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons ul li a{
  text-decoration: none;
  font-size: 24px;
}
.social-icons ul li{
  list-style: none;
}
.second-container .footer-logo h1,
.second-container .footer-logo p{
  color: #fff;
}
.copy-right{
  width: 1250px;
  margin-left: 35%;
  padding: 30px;
}
.copy-right p {
  color: rgb(124, 122, 122);
}

/*footer*/

footer{
  width: 100%;
  height: auto;
  background-color: #353535;
  margin-top: 100px;
}


footer .container{
  width: 1250px;
  height: auto;
  display: flex;
  padding: 10px;
  padding-top: 50px;
  gap: 50px;
}
footer .container h3{
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
}
footer .footer-about{
  width: 300px;
  /* flex-grow: 1 */
  padding-right: 20px;
}

footer .footer-menu{
  flex-grow: 1
}

footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
}
footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
}
footer .container li{
  list-style: none;

}
footer .container li a{
  text-decoration: none;
  color: #adacac;
}
footer ul{
  padding-top: 20px;
}
footer ul li{
  padding: 10px;
}
.footer-about p{
  padding-top: 20px;
  color: #adacac;
  line-height: 2;
}
.second-container{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 27px;
}
/* .second-container img{
  height: 80px; 
} */
.brand-description{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-description p{
  color: rgb(128, 127, 127);
  padding: 20px;
  text-align: center;
}
.social-icons ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons ul li a{
  text-decoration: none;
  font-size: 24px;
}
.social-icons ul li{
  list-style: none;
}
.second-container .footer-logo h1,
.second-container .footer-logo p{
  color: #fff;
}
.copy-right{
  width: 1250px;
  margin-left: 35%;
  padding: 30px;
}
.copy-right p {
  color: rgb(124, 122, 122);
}
.card-container{
  padding: 25px;
  width: 100%;
  height: auto;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 200px 200px 200px auto;
  column-gap: 100px;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

} 
.card-container p{
  color: #000;
  margin: 0 auto;
  padding-top: 10px;
}
.anchor:hover{
  text-decoration: none;
}

.cards-show h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 180px;
}


/* Product Card */
.container-card{
  max-width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  align-content: center;
  justify-content: center;
  column-gap: 25px;
  padding-top: 60px;

}

.card-imgs{
  width: 304px;
  height: 375px;
 
}
.card-text:hover{
  text-decoration: none;
}
.data{
  width: 304px;
  height: 45px;
  background-color: #fff;

}
.icons{
display: flex;
align-content: center;
justify-content: center;
padding-top: 10px;
}
.checked {
  color: orange;
}
.desc{
  padding-top: 10px;
  display: flex;
  gap: 20px;
 align-content: center;
 justify-content: center;
 background-color: #eeeeee;
}
.desc p{
  font-size: 20px;
  font-weight: 500;
}
.data{
  background-color: #eeeeee;
}
.addto-cart{
  border-radius: 20px;
  width: 200px;
  height:30px;
  background-color: #ee0606;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-top: 5px;
}
.addto-cart:hover{
  background-color: #f35151;
  color: #ffffff;
}
.addToCart-link:hover{
  text-decoration: none;
}
.addto-cart p{
  font-weight: 600;
}



.banner{
  max-width: 100%;
  height: auto;
  padding-top: 65px;
padding-bottom: 65px;
}
.banner-1_img{
  max-width: 100%;
  height: auto;
}

.banner::after{
  content: 'A world of groceries';
  position: relative;
  color: #104911;
  top: 0;
  right: 0;
}


/* //Login */


/* * * * * General CSS * * * * */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: #eaeff4;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-form {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: auto;
  display: flex;
  background: #ffffff;
  box-shadow: 0 0 5px #999999;
}

.credit {
  position: relative;
  /* margin: 25px auto 0 auto; */
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 16px;
  font-weight: 400;
}

.credit a {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
}

.col-left,
.col-right {
  padding: 30px;
  display: flex;
}

.col-left {
  width: 60%;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background: #f19305e3;
}

.col-right {
  padding: 60px 30px;
  width: 50%;
  margin-left: -10%;
}

@media(max-width: 575.98px) {
  .container {
    flex-direction: column;
    box-shadow: none;
  }

  .col-left,
  .col-right {
    width: 100%;
    margin: 0;
    -webkit-clip-path: none;
    clip-path: none;
  }

  .col-right {
    padding: 30px;
  }
}

.login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
}

.login-text h2 {
  margin: 0 0 15px 0;
  font-size: 30px;
  font-weight: 700;
}

.login-text p {
  margin: 0 0 20px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.login-text .btn {
  display: inline-block;
  padding: 7px 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 30px;
  color: #ffffff;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: inset 0 0 0 0 #ffffff;
  transition: .3s;
  -webkit-transition: .3s;
}

.login-text .btn:hover {
  color: #f19305e3;
  box-shadow: inset 150px 0 0 0 #ffffff;
}

.login-form {
  position: relative;
  width: 100%;
}

.login-form h2 {
  margin: 0 0 15px 0;
  font-size: 22px;
  font-weight: 700;
}

.login-form p {
  margin: 0 0 10px 0;
  text-align: left;
  color: #666666;
  font-size: 15px;
}

.login-form p:last-child {
  margin: 0;
  padding-top: 3px;
}

.login-form p a {
  color: #f19305e3;
  font-size: 14px;
  text-decoration: none;
}

.login-form label {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  letter-spacing: .5px;
}

.login-form p:last-child label {
  width: 60%;
  float: left;
}

.login-form label span {
  color: #ff574e;
  padding-left: 2px;
}

.login-form input {
  display: block;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 30px;
}

.login-form input:focus {
  border-color: #ff574e;
}

.login-form button,
.login-form input[type=submit] {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
  color: #f19305e3;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #f19305e3;
  border-radius: 30px;
  box-shadow: inset 0 0 0 0 #f19305e3;
  transition: .3s;
  -webkit-transition: .3s;
}

.login-form button:hover,
.login-form input[type=submit]:hover {
  color: #ffffff;
  box-shadow: inset 250px 0 0 0 #f19305e3;
}


/* User Account */
