*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Noto Sans", sans-serif;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
header{
  margin-top: 20px;
}
.top-header{
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
}
.top-header .vertical-text{
  writing-mode: vertical-rl;
  text-orientation: upright;
  background-color: rgb(240, 6, 6);
  color: #fff;
  font-size: 10px;
  height: 43px;
  padding: 3px;
  font-weight: 600;
  margin-top: 2px;
/* justify-content: center;
align-items: center; */
}
.top-header .logo{
  align-self: center;
  padding-left: 10px;
  color: #000;
  font-size: 48px;
  font-weight: 100;
}
.botom-header p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
 letter-spacing: 4px;
 font-size: 12px;
 letter-spacing: 4px;
 padding-top: 10px;
}
.mild{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.social li{
  list-style: none;
  font-size: 24px;
}
.social{
  padding-top: 16px;
}
.facebook{
  color: 	#4267B2;
}
.twitter{
  color: 	#1DA1F2;
}
.pinterest{
  color: 	#E60023;
}
.dribbble{
  color: 	#ea4c89;
}


nav {
  width: 70%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(138, 137, 135);
  /* font-weight: 800;   */
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #ee8105;
  text-decoration: none;
}
/* #ec5e95 */

/* stroke */
nav ul li a
 {
  position: relative;
}
nav ul li a::after
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #ee8105;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}
header span{
  display: flex;
  gap: 21px;
  transform: translate(85%, -402%);
}

header span li {
  list-style: none;
}
header span .user-task a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 11px;
}

header span .sign{
  color: #f7f7f7;
  background-color: #104911;
}
header span .login{
  color: #f8f7f6;
  background-color: #F17300;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;

}
.hero-img img{
 width: 40%;
 height: 40%;
}

.main-content{
  height: auto;
  padding-top: 60px;
}
.block-el{
  justify-content: center;
  display: flex;
  gap: 34px;
}

.blockie1{
  position: relative;
}
.blockie2{
  position: relative;
}
.block1{
  width: 669px;
  height: 250px;
  
}
.block2{
  width: 669px;
  height: 250px;

}
.tag{
  width: 257px;
  height: 248px;
  padding: 46px;
  position: absolute;
  top: 2px;
  right: 1px;
}
.tag1{
  background-color: #FCA19B;
}
.tag2{
  background-color: #FDE64F;
}
.tag h3{
  font-size: 26px;
  font-style: italic;
}
.tag p{
  font-size: 25px;
  padding-top: 10px;
}
.buy-now-link{

}
.tag a {
  background-color: rgb(247, 172, 11);
  color: white;
  padding: 7px 23px;
  text-decoration: none;
  border-radius: 11px;
  font-weight: 500;
}
.buy{
  padding-top: 20px;
}

.tag1 a:link,
.tag1 a:visited {
 background-color: #fe6d30;
}
.tag2 a:link,
.tag2 a:visited {
 background-color: #f4a602;
}
.tag a:hover,
.tag a:active {
 background-color: #89c74a;
 text-decoration: none;
 color: #fff;
}
.products-show{
  height: 100vh;
}


/* Footer */
footer{
  width: 100%;
  height: auto;
  background-color: #353535;
}


footer .container{
  width: 1250px;
  height: auto;
  display: flex;
  padding: 10px;
  padding-top: 50px;
  gap: 110px;
}
footer .container h3{
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
}
footer .footer-about{
  width: 300px;
  /* flex-grow: 1 */
  padding-right: 20px;
}
/* 
footer .footer-menu{
  flex-grow: 1
}

footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
} */
footer .container li{
  list-style: none;

}
footer .container li a{
  text-decoration: none;
  color: #adacac;
}
footer ul{
  padding-top: 20px;
}
footer ul li{
  padding: 10px;
}
.footer-about p{
  padding-top: 20px;
  color: #adacac;
  line-height: 2;
}
.second-container{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 27px;
}
/* .second-container img{
  height: 80px; 
} */
.brand-description{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-description p{
  color: rgb(128, 127, 127);
  padding: 20px;
  text-align: center;
}
.social-icons ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons ul li a{
  text-decoration: none;
  font-size: 24px;
}
.social-icons ul li{
  list-style: none;
}
.second-container .footer-logo h1,
.second-container .footer-logo p{
  color: #fff;
}
.copy-right{
  width: 1250px;
  margin-left: 35%;
  padding: 30px;
}
.copy-right p {
  color: rgb(124, 122, 122);
}

/*footer*/

footer{
  width: 100%;
  height: auto;
  background-color: #353535;
  margin-top: 100px;
}


footer .container{
  width: 1250px;
  height: auto;
  display: flex;
  padding: 10px;
  padding-top: 50px;
  gap: 50px;
}
footer .container h3{
  font-size: 24px;
  color: #fff;
  font-weight: 100;
  text-transform: capitalize;
}
footer .footer-about{
  width: 300px;
  /* flex-grow: 1 */
  padding-right: 20px;
}

footer .footer-menu{
  flex-grow: 1
}

footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
}
footer .footer-customer{
  flex-grow: 1
}
footer .footer-account{
  flex-grow: 1
}
footer .container li{
  list-style: none;

}
footer .container li a{
  text-decoration: none;
  color: #adacac;
}
footer ul{
  padding-top: 20px;
}
footer ul li{
  padding: 10px;
}
.footer-about p{
  padding-top: 20px;
  color: #adacac;
  line-height: 2;
}
.second-container{
  width: 1250px;
  height: auto;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 27px;
}
/* .second-container img{
  height: 80px; 
} */
.brand-description{
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-description p{
  color: rgb(128, 127, 127);
  padding: 20px;
  text-align: center;
}
.social-icons ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-icons ul li a{
  text-decoration: none;
  font-size: 24px;
}
.social-icons ul li{
  list-style: none;
}
.second-container .footer-logo h1,
.second-container .footer-logo p{
  color: #fff;
}
.copy-right{
  width: 1250px;
  margin-left: 35%;
  padding: 30px;
}
.copy-right p {
  color: rgb(124, 122, 122);
}
.card-container{
  width: 300rem;
  height: auto;
  padding-top: 100px;
  display: flex;
  margin-left: 25%;
  gap: 100px;
  /* align-items: center; */
  /* justify-content: center; */

}
.card-container p{
  margin: 0 auto;
  padding-top: 10px;
}
.cards-show h2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}