<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
     <h1>Your Bag</h1>
    </div>
    <div class="cart-body">
    <div class="cart-items-body">
    <nav class="haeading">
        <p>PRODUCTS</p>
        <p>PRICE</p>
        <p>QUANTITY</p>
        <p>TOTAL</p>
    </nav>
<div class="all-cart">
    <!-- //row -->
    <hr>
    <div class="row">
    <div class="product-img">
        <img class="cart-image" src="/img/8.jpg" alt="cart-product-image">
        <p>Surf Excel</p>
    </div>
    <div class="price">
        <p>200</p>
    </div>
    <div class="quantity">
        <p>1</p>
    </div>
    <div class="total">
        <p>200</p> 
    </div>
    <div class="delete-btn">
        <button class="btn-remove">Delete</button>
    </div>
    </div>
    <!-- //row-end -->
    <hr>
    <div class="row">
    <div class="product-img">
        <img class="cart-image" src="/img/8.jpg" alt="cart-product-image">
        <p>Surf Excel</p>
    </div>
    <div class="price">
        <p>200</p>
    </div>
    <div class="quantity">
        <p>1</p>
    </div>
    <div class="total">
        <p>200</p> 
    </div>
    <div class="delete-btn">
        <button class="btn-remove">Delete</button>
    </div>
    </div>

    <hr>
    <div class="row">
    <div class="product-img">
        <img class="cart-image" src="/img/8.jpg" alt="cart-product-image">
        <p>Surf Excel</p>
    </div>
    <div class="price">
        <p>200</p>
    </div>
    <div class="quantity">
        <p>1</p>
    </div>
    <div class="total">
        <p>200</p> 
    </div>
    <div class="delete-btn">
        <button class="btn-remove">Delete</button>
    </div>
    </div>


    <hr>
    <div class="row">
    <div class="product-img">
        <img class="cart-image" src="/img/8.jpg" alt="cart-product-image">
        <p>Surf Excel</p>
    </div>
    <div class="price">
        <p>200</p>
    </div>
    <div class="quantity">
        <p>1</p>
    </div>
    <div class="total">
        <p>200</p> 
    </div>
    <div class="delete-btn">
        <button class="btn-remove">Delete</button>
    </div>
    </div>
    
</div>

    </div>
    <div class="checkout-body">
        <div class="summary">Order Summary</div>
        <div class="total">
        <p>Subtotal</p>
        <p>402</p>
        </div>
        <div class="free">
            <p>Shopping</p>
            <p>Free</p>
        </div>
        <div class="bottom"></div>
        <div class="checkout-btn">
            <button class="bottom-btn">CHECKOUT</button>
        </div> 
    </div>
    </div>
</body>
</html>
